# Editor configuration, see https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 2
trim_trailing_whitespace = true
max_line_length = 100

[**.yaml]
indent_size = 2
indent_style = space
max_line_length = 100

[**/examples/**]
insert_final_newline = false

