/* stylelint-disable import-notation */
@layer theme, base, typogrpahy, utilities;

/* ad-hoc custom media and selectors */
@import './medias.css';
@import './selectors.css';
@import './mixins/dark.css';

/* tailwind customization */
@import './theme/index.css';
@import './icons/index.css';
@import './utilities/index.css';
@import './components/index.css';

@plugin 'phosphor-icons-tailwindcss' {
	prefix: i;
	/* stylelint-disable-next-line property-no-unknown, order/properties-order  */
	layer: icons;
	/* stylelint-disable-next-line property-no-unknown, order/properties-order  */
	custom-property: --icon-url;
}

@layer base {
	:root {
		--header-height: 90px;
		--sidebar-width: 250px;

		@media (--tablet) {
			--pad-min-padding-x: 24px;
		}

		@media (--desktop) {
			--sidebar-width: 230px;
			--pad-max-width: 1920px;
		}

		@media (--widescreen) {
			--pad-min-padding-x: 32px;
			--header-height: 55px;
		}
	}

	html {
		font-family: var(--font-inter);
		color: var(--color-fg);

		background-color: var(--color-bg);
		border-color: currentcolor;
		border-color: var(--color-outline);
	}

	* {
		border-color: inherit;
	}

	h1 {
		font-family: var(--font-fingerpaint);
		letter-spacing: var(--tracking-wide);
	}

	svg[inline-src^='simpleicon/'] {
		fill: currentcolor;
	}

	mark {
		@mixin dark {
			background-color: var(--color-yellow.900);
		}

		color: inherit;
		background-color: var(--color-yellow.100);
	}

	button:focus-visible:not(:--disabled),
	label:has(input:focus-visible) {
		outline: 1.5px solid var(--color-outline-focus);
		outline-offset: 1px;
	}
}

@variant current {
	&:--current {
		@slot;
	}
}