/* stylelint-disable no-invalid-position-at-import-rule */
/* @layer theme, base, components, utilities, typography; */
@layer utilities.icons, utilities.components;
@layer components.base, utilities.components.mod1, utilities.components.mod2;

@plugin 'phosphor-icons-tailwindcss' {
	prefix: i;
	/* stylelint-disable-next-line property-no-unknown, order/properties-order  */
	layer: icons;
	/* stylelint-disable-next-line property-no-unknown, order/properties-order  */
	custom-property: --icon-url;
}

/* ad-hoc custom media and selectors */
@import './medias.css';
@import './selectors.css';

/* tailwind customization */
@import './theme/index.css';
@import './icons/index.css';
@import './utilities/index.css';
@import './components/index.css';

@layer base {
	:root {
		--header-height: 90px;
		--sidebar-width: 250px;

		@media (--tablet) {
			--pad-min-padding-x: 24px;
		}

		@media (--desktop) {
			--sidebar-width: 230px;
			--pad-max-width: 1920px;
		}

		@media (--widescreen) {
			--pad-min-padding-x: 32px;
			--header-height: 55px;
		}
	}

	html {
		font-family: var(--font-inter);
		color: var(--color-fg);

		background-color: var(--color-bg);
		border-color: currentcolor;
		border-color: var(--color-outline);
	}

	* {
		border-color: inherit;
	}

	button,
	input {
		padding-block: 0;
		padding-inline: 0;

		color: inherit;

		background-color: transparent;
		border-color: transparent;
		border-radius: 0;
	}

	h1 {
		font-family: var(--font-fingerpaint);
		letter-spacing: var(--tracking-wide);
	}

	svg[inline-src^='simpleicon/'] {
		fill: currentcolor;
	}

	mark {
		color: var(--color-info-fg);
		background-color: var(--color-info-bg);
	}

	button:focus-visible:not(:--disabled),
	label:has(input:focus-visible) {
		outline: 1.5px solid var(--color-outline-focus);
		outline-offset: 1px;
	}

	*[id] {
		scroll-margin: calc(1.5 * var(--spacing-header));
	}
}

@variant current {
	&:--current {
		@slot;
	}
}
