/* Notice: using PostCSS & Tailwind */

.c-tooltip {
  /* Float on top of the UI */
  position: absolute;
  z-index: theme('zIndex.tooltip');
  top: 0;
  left: 0;

  /* Avoid layout interference */
  width: max-content;
  padding: 4px 8px;

  opacity: 0;
  background-color: theme('colors.bg.muted');
  border-radius: theme('borderRadius.DEFAULT');

  transition: opacity 150ms ease-in-out;

  &[data-visible="true"] {
    opacity: 1;
  }
}

.c-tooltip-arrow {
  position: absolute;
  z-index: -1;
  transform: rotate(45deg);

  width: 14px;
  height: 14px;

  background-color: theme('colors.bg.muted');
}
